*{
    margin: 10px;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(rgb(98, 241, 119),silver);
}
input{
    padding: 5px;
    border: none;
    border-bottom: 2px solid black;
}
button{
    padding: 7px;
    background-color: rgb(233, 160, 202);
}